<div class="line">
  <ol>
    <li>
      <span class="material-symbols-outlined" (click)="primeira()">
        first_page
      </span>
    </li>
    <li>
      <span class="material-symbols-outlined" (click)="voltar()">
        keyboard_arrow_left
      </span>
    </li>
    <li>
      <span class="material-symbols-outlined" (click)="avancar()">
        keyboard_arrow_right
      </span>
    </li>
    <li>
      <span class="material-symbols-outlined" (click)="ultima()">
        last_page
      </span>
    </li>
  </ol>
  <strong>{{ pagina }} de {{ total }} páginas</strong>
</div>
