<app-cabecalho (eventBuscar)="onEventBuscar($event)"></app-cabecalho>

<app-contador
  [totalItens]="itensRender.length"
  [limiteItens]="
    itensRender.length < limiteItens ? itensRender.length : limiteItens
  "
></app-contador>

<!-- render itens -->
<div *ngFor="let item of itensRender; index as i">
  <!-- controle de itens exibidos -->
  <div *ngIf="i + 1 > itemControle - limiteItens && i + 1 <= itemControle">
    <app-item
      [nome]="item.nome"
      [id]="item.id"
      [urlImg]="item.imagem"
    ></app-item>
  </div>
</div>

<app-paginacao
  (navPage)="onNavPage($event)"
  [totalItens]="itensRender.length"
  [limiteItens]="limiteItens"
></app-paginacao>
